.edit--grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 7rem;
}
.form--footer{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    gap: 1rem;
}