.btn_structure_main{
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    &:hover{
        color: #fff;
        background-color: #d90000;
        border-color: #30cc00;
    }
    &:focus{
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    }
    &:active{
        color: #fff;
        background-color: #0062cc;
        border-color: #005cbf;
    }
    &:disabled{
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
    }
 
}
.primary{
    color: #fff;
    background-color: #b700ff;
    border-color: #007bff;
    &:hover{
        color: #fff;
        background-color: #0069d9;
        border-color: #0062cc;
    }
    &:focus{
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    }
    &:active{
        color: #fff;
        background-color: #0062cc;
        border-color: #005cbf;
    }
    &:disabled{
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
    }
}