<div class="modal-bacground" (click)="closeModal()"></div>
<div class="final-wrapper">
  <div class="header">
    <h3>Finalize Your Purchase</h3>
  </div>
  <div class="body">
    <div class="cardinfo">
      <form action="">
        <div class="">
          <label for="">Card Number</label>
            <input type="text" name="" id="">
          </div>
          <div class="">
            <label for="">Exp. Date</label>
              <input type="text" name="" id="">
            </div>
            <div class="">
              <label for="">CVV</label>
                <input type="text" name="" id="">
              </div>
              <div class="">
                <label for="">user Id</label>
                  <input type="text" name="" id="">
                </div>
      </form>
      <div class="aaction-bar">
        <button>Back</button>
        <button>Submit</button>
      </div>
    </div>
  </div>
</div>
