

<div class="goodbye">
    <div class="end-container">
         <div class="end-header">
        <h1>Thank You For Your Business</h1>
    </div>
    <div class="end-body">
        <h3>your purchase is complete our delivery company will contact you in no time!</h3>
        <p>You can find the recipt in your Email or download it <span><a href="">here</a></span>(sorry had no time to do this either :( ))</p>
        <p>You will be redirected back to the store in 20 seconds</p>
        <p>Your purchase history can be viewed in you profile(not really)</p>
    </div>
    <div class="end-footer">
        <button class="btn main" (click)="navigateToStore()">Go back to the store!</button>
    </div>
    </div>
   
</div>
