@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
p, h1, h2, h3, h4, h5, h6, span, a, li, label, table {
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  border: none;
  height: 1rem;
  min-width: 7rem;
  padding: 0.25rem;
  border-radius: 5px;
  font-size: 1rem;
}

input::-webkit-input-placeholder {
  color: #494949;
}

input:-ms-input-placeholder {
  color: #494949;
}

input::-ms-input-placeholder {
  color: #494949;
}

input::placeholder {
  color: #494949;
}

input:focus {
  outline: #d50000 1px solid;
}

select {
  outline: none;
  border: none;
  height: 1.5rem;
  min-width: 7rem;
  border-radius: 5px;
  font-size: 1rem;
}

select::-webkit-input-placeholder {
  color: #494949;
}

select:-ms-input-placeholder {
  color: #494949;
}

select::-ms-input-placeholder {
  color: #494949;
}

select::placeholder {
  color: #494949;
}

select:focus {
  outline: #d50000 1px solid;
}

label {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  margin-right: 1rem;
}

.store-nav-wrapper {
  width: 100%;
  height: 3rem;
  background-color: #d50000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 108.31px;
}

.store-nav-wrapper .store-nav__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
}

.store-nav-wrapper .store-nav__user .store-nav__user__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 1rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.store-nav-wrapper .store-nav__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1rem;
  gap: 1rem;
}

.store-nav-wrapper .store-nav__filters .store-nav__filters__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

.store-nav-wrapper .store-nav__filters .store-nav__filters__search .store-nav__filters__search__input {
  width: 15rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #9b0000;
}

.store-nav-wrapper .store-nav__filters .store-nav__filters__search .store-nav__filters__search__icon {
  width: 2rem;
  height: 2rem;
  margin-left: -2rem;
  background-color: #9b0000;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.store-nav-wrapper .store-nav__filters .store-nav__filters__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store-nav-wrapper .store-nav__filters .store-nav__filters__sort .store-nav__filters__sort__label {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  margin-right: 1rem;
}

.store-nav-wrapper .store-nav__filters .store-nav__filters__sort .store-nav__filters__sort__select {
  width: 10rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #9b0000;
}

.store-nav-wrapper .cart {
  height: 46px;
  width: 80px;
  margin: 0 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #9b0000;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3%;
}

.store-nav-wrapper .cart .material-icons {
  padding-top: 4px;
  padding-left: 6%;
  font-size: 1.5rem;
  color: #fff;
}

.store-nav-wrapper .cart .material-icons:hover {
  cursor: pointer;
  color: blueviolet;
}

.store-nav-wrapper .cart .items-in-cart {
  width: 40px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=store-nav.component.css.map */