@import '../../../../styles/forms.scss';
@import '../../../../styles/styles.scss';

.checkout-wrapper{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 2fr 4fr;
    height: 80vh;
    gap: 3rem;
    padding: 0 6rem;
    .checkout-cart{
        height: 60vh;
        overflow-y: scroll;
        .checkout-cart_items{
            //table styles from globals
        }
    }
 
    .checkout-delivery{
        height: 60vh;
        width: 100%;
        .actions{
            height: 3rem;
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
            
    }

    .form--body{
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        margin-bottom: 1rem;
        .form--body--input{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            label{
                width: 4rem;
            }
        }
    }
    .action-bar{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 2rem;
        width: 100%;
        height: 3rem;
    }
}
.btn-small{
    font-size: 12px !important;
    padding: 0.2rem !important;
    height: 2rem;
}
.metrics{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    .metval{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 0.5rem;
        align-items: center;
        border-bottom: $primary-color 1px solid;
        h4{
        color: $primary-color;
        }
    }
}