<div class="hero-wrapper">
    <div class="hero">
        <div class="hero__content">
            <h1 class="hero__title">Welcome to <span class="hero__title--bold">My</span> <span class="hero__title--bold">Website</span></h1>
            <p class="hero__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.</p>
            <div class="hero__actionbar">
                <a [routerLink]="['/store']"  class="hero__btn">Continue to store</a>
                <a [routerLink]="['/contact']"  class="hero__btn">Contact Me</a>
            </div>
            
        </div>
        <div class="hero__creative">
        </div>
    </div>
</div>